{% extends 'base.html' %}
{% block title %} Home {% endblock %}


{% block body %}
    
          <div class="container mt-5">
            <div class="row">
              
              {% if request.user.is_authenticated %}
              <!-- sidebar -->
              <div class="col-md-2">
                <ul class="list-group">
                  <li class="list-group-item">Hey, {{ request.user.username }}</li>
                  <li class="list-group-item">
                    <a href="{% url 'createpage' %}" class="btn btn-sm btn-primary">Add New Post</a>
                  </li>
                </ul>
              </div>
              <!-- main content -->
               <div class="col-md-10">
                {% for message in messages %}
                 <div class="alert alert-success alert-dismissible">
                  
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}
                
                </div>
                {% endfor %}
                
                <div class="card">
                  <div class="card-body">
                    {% for i in form %}
                    
                    <h3>{{ i.title }}</h3>
                    <p>
                      {% if form %}
                    <img src="{{ form.profile_pic.url }}" style="border-radius:50%;" class="shadow" alt="" width="100px">
                    {% endif %}
                      <code style="margin-left: 10px;">{{request.user.username}}</code><br>
                      <b>{{i.pub_date}}</b>
                      <hr>
                    </p>
                    <br><br>
                    <small >{{ i.content }}</small>
                    {% endfor %}
                  </div>
                </div>
               </div>
            </div> 
            {% else %}
            
            <div class="alert alert-warning alert-dismissible">
              {% for message in messages %}
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{message}}
            {% endfor %}
            </div>
            
            {% endif %}
          </div>
          

{% endblock %}