{% extends 'base.html' %}
{% block title %} Login {% endblock %}


{% block body %}
    
          <div class="container mt-5">
            <h4 class="text-center bg-dark p-3 text-white">User Login Here</h4>
            <form  action="" method="post">
                {% csrf_token %}
                <label for="username" class="mr-sm-2">Username:</label><br>
                <input type="text" required class="form-control mb-2 mr-sm-2" placeholder="Enter username" name="username" id="email"><br>
                
                
                <label for="pwd" class="mr-sm-2">Password:</label><br>
                <input type="password" required class="form-control mb-2 mr-sm-2"  name="password" placeholder="Enter password" id="pwd"><br>
                <p>
                    Don't have an account? <a href="{% url 'register' %}" style="text-decoration: no;">Create New Account</a>
                </p>
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
              </form>
          </div>

{% endblock %}